<h1>Welcome to 'Where To Work'</h1>


<% if current_user %>
  <p>Click the Links Above to See Your Places or Create a New Place</p>
<% else %>
  <p>Click the Links Above to Log In or Sign Up</p>

  <p>Once you're logged in, you can:</p>
  <ul>
    <li>Create a place</li>
    <li>Add info and ratings to your places</li>
    <li>Share places with friends</li>
  </ul>
<% end %>

